body {
    background-color: rgb(188, 79, 238); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: white; /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  div {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpt.wikipedia.org%2Fwiki%2FCora%25C3%25A7%25C3%25A3o_%2528s%25C3%25ADmbolo%2529&psig=AOvVaw2bPReC9DqsXxG9clofKBT-&ust=1683978870931000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMCHuaXc7_4CFQAAAAAdAAAAABAD);
    height: 400px;
    width: 100%;
 }